In [1]:
import pandas as pd

In [2]:
sample_data = pd.read_html('http://py4e-data.dr-chuck.net/comments_412205.html', header=0)[0]

In [3]:
sample_data.head()

     Name  Comments
0  Rhanna        99
1  Taqwah        97
2  Airlie        94
3   Holly        94
4  Ashlee        89

In [4]:
sum(sample_data.Comments)

2547